/* body */
body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: small;
    margin-left: 2em; 
    margin-top: 1em;
    max-height: 11.5in;
    max-width: 8.5;
    margin-right: 2em; 
}

img {
    display: none;
}

/* heading */
h1 , h2{
    color:  rgb(5, 66, 158); 
    /* line-height: .075em; */
    font-size: medium;
}
h1+hr{
    height: .25em; 
}
h2+hr{
    height: .10em; 
}


/* nav styles  */
a{
    text-decoration: none;
}

a:hover{
    color: red
}



dt{
    color: rgb(5, 66, 158); font-weight: bold;
}

hr{
    background-color: navy; 
    /* color: gray; */
}

dd, p, ul{
    font-size: medium;
}

b{
    color: rgba(39, 39, 39, 0.849);
}

/* /* media change for tablet devices */

@media screen and (min-width: 45em ){
    /* grid layout */
#layout{
    display: grid;
    /* rows/ columns */
    grid:  5em 1fr .25fr .25fr 15em  / 1fr 1fr  ;
    grid-template-areas: 
    "header header"
    "sum    emp"
    "edu    vol "
    "skills vol"
    "ref    ref"
    ;
}
/* grid names */
.header{
    grid-area: header ;
}
.header > *{
    grid-area: header;
}

.Summary{
    grid-area: sum;
}

.Employment{
    grid-area: emp;
}

.Education{
    grid-area: edu;
}

.Skills{
    grid-area: skills;
}

.Volunteering{
    grid-area: vol;

}

.References{
    grid-area: ref;
}

/* body */
body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: medium;
    margin-right: 2em; 
    margin-left: 2em; 
    margin-top: 1em;
    max-height: 11.5in;
    max-width: 8.5;
}
img{
   display: inline-grid ;
   max-width: 60%;
   max-height: 50%;
}
}


/* layout for 3/4 screen */
@media screen and (min-width: 60em ){
/* grid layout */
#layout{
    display: grid;
    /* rows/ columns */
    grid:  5em 40em .25fr .25fr 15em  / 1fr 1fr  ;
    grid-template-areas: 
    "header header"
    "sum    emp"
    "edu    vol "
    "skills vol"
    "ref    ref"
    ;
}
/* grid names */
.header{
    grid-area: header ;
}
.header > *{
    grid-area: header;
}

.Summary{
    display: grid;
    grid-area: sum;
    grid:  .25fr 1fr /1fr 1fr;
    grid-template-areas: 
    "sumHead sumHead"
    "image para"
    ;
}
.sumHead{
grid-area: sumHead;
}
.image{
    grid-area: image;
    display: inline;
    max-width:  100%;
    max-height: 60%;
}
.para{
    display: inline;
    grid-area: para;
    font-size: large ;
}

.Employment{
    grid-area: emp;
}

.Education{
    grid-area: edu;
}

.Skills{
    grid-area: skills;
}

.Volunteering{
    grid-area: vol;

}

.References{
    grid-area: ref;
}

/* body */
body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: medium;
    margin-right: 5%; 
    margin-left: 5%; 
    margin-top: 1em;
    max-height: 11.5in;
    max-width: 8.5;
}
}

/* layout for full screen */
@media screen and (min-width: 80em ){
/* grid layout */
#layout{
    display: grid;
    /* rows/ columns */
    grid:  5em 35em .25fr .25fr 15em  / 1fr 1fr  ;
    grid-template-areas: 
    "header header"
    "sum    emp"
    "edu    vol "
    "skills vol"
    "ref    ref"
    ;
}
/* grid names */
.header{
    grid-area: header ;
}
.header > *{
    grid-area: header;
}

.Summary{
    display: grid;
    grid-area: sum;
    grid:  .25fr 1fr /1fr 1fr;
    grid-template-areas: 
    "sumHead sumHead"
    "image para"
    ;
}
.sumHead{
grid-area: sumHead;
}
.image{
    grid-area: image;
    display: inline;
    max-width:  100%;
    max-height: 80%;
}
.para{
    display: inline;
    grid-area: para;
    font-size: large ;
}

.Employment{
    grid-area: emp;
}

.Education{
    grid-area: edu;
}

.Skills{
    grid-area: skills;
}

.Volunteering{
    grid-area: vol;

}

.References{
    grid-area: ref;
}

/* body */
body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: medium;
    margin-right: 5%; 
    margin-left: 5%; 
    margin-top: 1em;
    max-height: 11.5in;
    max-width: 8.5;
}

